.carousel-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    display: inline-block;
    background: linear-gradient(to right, #373636 0%, rgba(85, 83, 83, 0) 100%);

}